---
import Layout from "@layouts/Layout.astro";
---

<Layout title="sobre nosotros" description="Proteccion civil Merida">
	<div id="about" class="relative bg-white overflow-hidden">
		<div class="max-w-7xl mx-auto">
			<div
				class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32"
			>
				<svg
					class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2"
					fill="currentColor"
					viewBox="0 0 100 100"
					preserveAspectRatio="none"
					aria-hidden="true"
				>
					<polygon points="50,0 100,0 50,100 0,100"></polygon>
				</svg>

				<div class="pt-1"></div>

				<main
					class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28"
				>
					<div class="sm:text-center lg:text-left">
						<h2
							class="my-6 text-2xl tracking-tight font-extrabold text-naranja sm:text-3xl md:text-4xl"
						>
							Mision
						</h2>

						<p class="text-gray-700">
							“Planificar, coordinar, ejecutar y supervisar todas las acciones,
							medidas y procesos de prevención y atención, necesarios para
							garantizar la protección de toda persona ante cualquier situación
							que implique amenaza, vulnerabilidad o riesgo; con un talento
							humano proactivo, profesional y dado plenamente por la vida de sus
							semejantes sustentado en los valores de voluntariedad, solidaridad
							y desprendimiento”.
						</p>
					</div>
					<div class="sm:text-center lg:text-left">
						<h2
							class="my-6 text-2xl tracking-tight font-extrabold text-naranja sm:text-3xl md:text-4xl"
						>
							Vision
						</h2>

						<p class="text-gray-700">
							&quot;Una institución estratégica para la nación y de reconocida
							proyección internacional, donde se impulsa un polo importante de
							la seguridad ciudadana basada en la prevención y atención, por la
							salvaguarda y mejor calidad de vida, el ambiente y los bienes,
							ante amenazas naturales y antrópicas, contribuyendo con la
							sostenibilidad del desarrollo del País”.
						</p>
					</div>
				</main>
			</div>
		</div>
		<div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
			<img
				class="h-56 w-full object-cover object-right sm:h-72 md:h-96 lg:w-full lg:h-full"
				src="https://laverdaddemonagas.com/wp-content/uploads/2024/07/organismos-de-prevencion-de-merida-atentos-ante-el-riesgo-de-inundaciones-por-las-lluvias-laverdaddemonagas.com-la-verdad-de-monagas-12-860x484.jpg"
				alt=""
			/>
		</div>
	</div>
</Layout>
