---
import Layout from "@layouts/Layout.astro";
---

<Layout title="sobre nosotros" description="Proteccion civil Merida">
	<div id="about" class="relative bg-white overflow-hidden">
		<div class="max-w-7xl mx-auto">
			<div
				class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32"
			>
				<svg
					class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2"
					fill="currentColor"
					viewBox="0 0 100 100"
					preserveAspectRatio="none"
					aria-hidden="true"
				>
					<polygon points="50,0 100,0 50,100 0,100"></polygon>
				</svg>

				<div class="pt-1"></div>

				<main
					class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28"
				>
					<div class="sm:text-center lg:text-left">
						<h2
							class="my-6 text-2xl tracking-tight font-extrabold text-naranja sm:text-3xl md:text-4xl"
						>
							Objetivos
						</h2>

						<p class="text-gray-700">
							1. Planificar y establecer políticas, que permitan la adopción de
							medidas relacionadas con la preparación y aplicación del potencial
							estatal para casos de desastres, en cada una de las fases de
							reducción, respuesta y rehabilitación.<br /> 2. Promover en los diferentes
							organismos estatales relacionados con la seguridad ciudadana y gestión
							integral de riesgos, las acciones necesarias para garantizar el cumplimiento
							de las normas establecidas, para salvaguardar la seguridad y protección
							de las comunidades locales del estado Mérida.<br /> 3. Diseñar programas
							de capacitación, entrenamiento y formación, dirigidos a promover y
							afianzar la participación de los ciudadanos en los casos de emergencias
							y desastres en su comunidad local.<br />4. Establecer estrategias
							dirigidas a la preparación de las comunidades, que garanticen el
							aprovechamiento del potencial personal, familiar y comunal para
							enfrentar emergencias y desastres en sus diferentes fases y
							etapas.<br /> 5. Velar porque las diferentes instancias del estado
							aporten los recursos necesarios que garanticen que las instituciones
							responsables de atender las emergencias, cuenten con el soporte operacional
							y funcional adecuado para la idónea y oportuna prestación del servicio
							de protección civil y administración de desastres.<br /> 6. Fortalecer
							a los organismos de atención y administración de emergencias, a fin
							de garantizar una respuesta eficaz, oportuna, coordinar y promover
							las acciones de respuesta y rehabilitación de las áreas afectadas por
							un desastre.<br /> 7. Integrar esfuerzos y funciones entre los organismos
							públicos y privados, que deban intervenir en las diferentes fases y
							etapas de la administración de desastres, que permitan la utilización
							de integración oportuna y eficiente de los recursos disponibles para
							responder ante eventos socio- naturales y tecnológicos.
						</p>
					</div>
				</main>
			</div>
		</div>
		<div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
			<img
				class="h-56 w-full object-cover object-top sm:h-72 md:h-96 lg:w-full lg:h-full"
				src="https://fronteradigital.com.ve/storage/uploads/2022/2/MjAyMjIyNWFtYnVsYW5jaWEuanBnMDQyMTc=.jpg"
				alt=""
			/>
		</div>
	</div>
</Layout>
