---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Galería" description="Galería de fotos">
	

	<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
		<div class="grid gap-4">
			<div>
				<img
					class="h-auto max-w-full rounded-lg hover:scale-150"
					src="/galeria/pcmerida1.avif"
					alt=""
				/>
			</div>
			<div>
				<img
					class="h-auto max-w-full rounded-lg hover:scale-150"
					src="/galeria/pcmerida2.avif"
					alt=""
				/>
			</div>
			<div>
				<img
					class="h-auto max-w-full rounded-lg hover:scale-150"
					src="/galeria/pcmerida3.avif"
					alt=""
				/>
			</div>
		</div>
		<div class="grid gap-4">
			<div>
				<img
					class="h-auto max-w-full rounded-lg hover:scale-150"
					src="/galeria/pcmerida4.avif"
					alt=""
				/>
			</div>
			<div>
				<img
					class="h-auto max-w-full rounded-lg hover:scale-150"
					src="/galeria/pcmerida5.avif"
					alt=""
				/>
			</div>
			<div>
				<img
					class="h-auto max-w-full rounded-lg hover:scale-150"
					src="/galeria/pcmerida6.avif"
					alt=""
				/>
			</div>
		</div>
		<div class="grid gap-4">
			<div>
				<img
					class="h-auto max-w-full rounded-lg hover:scale-150"
					src="/galeria/pcmerida7.avif"
					alt=""
				/>
			</div>
			<div>
				<img
					class="h-auto max-w-full rounded-lg hover:scale-150"
					src="/galeria/pcmerida8.avif"
					alt=""
				/>
			</div>
			<div>
				<img
					class="h-auto max-w-full rounded-lg hover:scale-150"
					src="/galeria/pcmerida9.avif"
					alt=""
				/>
			</div>
		</div>
		<div class="grid gap-4">
			<div>
				<img
					class="h-auto max-w-full rounded-lg hover:scale-150"
					src="/galeria/pcmerida10.avif"
					alt=""
				/>
			</div>
			<div>
				<img
					class="h-auto max-w-full rounded-lg hover:scale-150"
					src="/galeria/pcmerida11.avif"
					alt=""
				/>
			</div>
			<div>
				<img
					class="h-auto max-w-full rounded-lg hover:scale-150"
					src="/galeria/pcmerida12.avif"
					alt=""
				/>
			</div>
		</div>
	</div>
</Layout>
