---
import Boletin from "./Boletin.astro";
---

<section class="p-10">
	<div class="grid md:grid-cols-4 gap-4">
		<Boletin
			img="https://pbs.twimg.com/media/GTm_MObXYAADryH?format=jpg&name=medium"
			alt="EVENTO DE PROTECCION CIVIL"
			titulo="Este es un titulo"
			cont="Hasta en la peor de las situaciones encontraras la fuerza para..."
			url="#"
		/>
		<Boletin
			img="https://pbs.twimg.com/media/GTm_MObXYAADryH?format=jpg&name=medium"
			alt="EVENTO DE PROTECCION CIVIL"
			titulo="Este es un titulo"
			cont="Hasta en la peor de las situaciones encontraras la fuerza para..."
			url="#"
		/>
		<Boletin
			img="https://pbs.twimg.com/media/GTm_MObXYAADryH?format=jpg&name=medium"
			alt="EVENTO DE PROTECCION CIVIL"
			titulo="Este es un titulo"
			cont="Hasta en la peor de las situaciones encontraras la fuerza para..."
			url="#"
		/>

		<div class="max-w-[320px]">
			<a
				href="https://twitter.com/x?ref_src=twsrc%5Etfw"
				class="twitter-follow-button"
				data-size="large"
				data-show-screen-name="false"
				data-lang="es"
				data-show-count="false">Follow @x</a
			><script
				is:inline
				async
				src="https://platform.twitter.com/widgets.js"
				charset="utf-8"></script>
			<a
				class="twitter-timeline"
				data-width="600"
				data-dnt="true"
				data-tweet-limit="4"
				href="https://twitter.com/PC_MERIDA?ref_src=twsrc%5Etfw"
				>Tweets by PC_MERIDA</a
			>
			<script
			is:inline
				async
				src="https://platform.twitter.com/widgets.js"
				charset="utf-8"></script>
		</div>
	</div>
</section>
