---
import Boletin from "./Boletin.astro";
---

<section class="p-10">
	<h2 class="text-center py-4 text-3xl md:text-5xl">Direccion de Gestion De Riesgo</h2>
	<div class="grid md:grid-cols-4 gap-4 justify-center items-center">
		<Boletin
			img="/gestionderiesgo/salasituacional.avif"
			alt="Efuncionario de proteccion civil merida"
			titulo="Direccion de Gestion De Riesgo"
			cont="Instituto de Protección Civil, Administración de Desastres y Gestión ..."
			url="https://sites.google.com/view/direcciondegestionderiesgos/quienes-somos"
		/>
		<Boletin
			img="/gestionderiesgo/dossier.avif"
			alt="EVENTO DE PROTECCION CIVIL"
			titulo="Dossier"
			cont="Nuestro Dossier, realizado por especialistas en diferentes especialidades..."
			url="https://sites.google.com/view/direcciondegestionderiesgos/dossier"
		/>
		<Boletin
			img="/gestionderiesgo/registro-publiometrico.avif"
			alt="EVENTO DE PROTECCION CIVIL"
			titulo="Registro Pluviometrico"
			cont="Sistema de alerta temprana Aurora, el sistema de ..."
			url="https://sites.google.com/view/direcciondegestionderiesgos/registro-pluviom%C3%A9trico"
		/>

		<div class="max-w-[320px]">
			<a
				href="https://twitter.com/x?ref_src=twsrc%5Etfw"
				class="twitter-follow-button"
				data-size="large"
				data-show-screen-name="false"
				data-lang="es"
				data-show-count="false">Follow @x</a
			><script
				is:inline
				async
				src="https://platform.twitter.com/widgets.js"
				charset="utf-8"></script>
			<a
				class="twitter-timeline"
				data-width="600"
				data-dnt="true"
				data-tweet-limit="4"
				href="https://twitter.com/PC_MERIDA?ref_src=twsrc%5Etfw"
				>Tweets by PC_MERIDA</a
			>
			<script
			is:inline
				async
				src="https://platform.twitter.com/widgets.js"
				charset="utf-8"></script>
		</div>
	</div>
</section>
