<section class="w-screen h-[350px] relative flex flex-col justify-center items-center">
	<img
		style="mask-image: linear-gradient(rgb(0 0 0 / 100%), transparent);"
		class="w-full h-full object-cover object-top"
		src="/Pc-Merida.avif"
		alt="funcionarios de pcmerida en formacion"
	/>
	<div class="absolute bottom-32 text-center">
		<h2 class="font-semibold mb-10 text-3xl md:text-4xl">
			¿Qué hacemos en Protección Civil MERIDA?
		</h2>
		<a class="bg-naranja px-4 py-2 font-bold rounded-b-md " href="#">Quiero saber mas</a>
	</div>
</section>
